In [59]:
import numpy as np
from cv2 import aruco, cvtColor, COLOR_BGR2GRAY, LUT
#import matplotlib.pyplot as plt
from glob import glob
import pandas as pd
import piexif

In [60]:
pfad = "../../bilderserien/wuerfel*/*.jpg"
pictures = pd.DataFrame([[i, int(pfad[-6:-4]), pfad, None, None, None, None, None, None] for i, pfad in enumerate(glob(pfad))], columns=["img", "kamera",
                        "pfad", "t1", "t2", "t3", "r1", "r2", "r3"]).astype({"kamera": int, "pfad": str, "img": int, "t1": float, "t2": float, "t3": float, "r1": float, "r2": float, "r3": float}).set_index(["img"])
# np.c_[t.T,rod.T]
pictures

     kamera                                      pfad  t1  t2  t3  r1  r2  r3
img
0         1  ../../bilderserien/wuerfel4/camera01.jpg NaN NaN NaN NaN NaN NaN
1         2  ../../bilderserien/wuerfel4/camera02.jpg NaN NaN NaN NaN NaN NaN
2         3  ../../bilderserien/wuerfel4/camera03.jpg NaN NaN NaN NaN NaN NaN
3         4  ../../bilderserien/wuerfel4/camera04.jpg NaN NaN NaN NaN NaN NaN
4         5  ../../bilderserien/wuerfel4/camera05.jpg NaN NaN NaN NaN NaN NaN
..      ...                                       ...  ..  ..  ..  ..  ..  ..
67       20  ../../bilderserien/wuerfel6/camera20.jpg NaN NaN NaN NaN NaN NaN
68       21  ../../bilderserien/wuerfel6/camera21.jpg NaN NaN NaN NaN NaN NaN
69       22  ../../bilderserien/wuerfel6/camera22.jpg NaN NaN NaN NaN NaN NaN
70       23  ../../bilderserien/wuerfel6/camera23.jpg NaN NaN NaN NaN NaN NaN
71       24  ../../bilderserien/wuerfel6/camera24.jpg NaN NaN NaN NaN NaN NaN

[72 rows x 8 columns]

In [61]:
dist = [] 
for i, pic in pictures.iterrows():
    try:
        d = piexif.load(pic["pfad"])["Exif"][piexif.ExifIFD.SubjectDistance]
        dist.append(d[0]/d[1])
    except:
        dist.append(np.nan)
pictures["dist"] = dist

In [64]:
pictures[['kamera','dist']].dropna().groupby("kamera").agg(["mean", "std", "count", "min", "max"])

            dist
            mean       std count   min   max
kamera
1       2.803333  0.776552     3  2.35  3.70
2       0.880000  0.045826     3  0.83  0.92
3       0.433333  0.015275     3  0.42  0.45
4       3.460000  1.247357     3  2.39  4.83
5       0.770000  0.078102     3  0.72  0.86
6       0.433333  0.005774     3  0.43  0.44
7       3.950000  1.569809     3  2.96  5.76
8       1.066667  0.076376     3  1.00  1.15
9       0.480000  0.020000     3  0.46  0.50
10      2.366667  0.654243     3  1.63  2.88
11      0.563333  0.020817     3  0.54  0.58
12      0.500000  0.010000     3  0.49  0.51
13      2.043333  0.230290     3  1.82  2.28
14      0.800000  0.045826     3  0.76  0.85
15      0.443333  0.011547     3  0.43  0.45
16      1.160000  0.079373     3  1.10  1.25
17      0.560000  0.026458     3  0.53  0.58
18      0.393333  0.005774     3  0.39  0.40
19      3.013333  0.465009     3  2.73  3.55
20      0.790000  0.043589     3  0.74  0.82
21      0.496667  0.025166     3  0.47  0.52
22      1.623333  0.087369     3  1.55  1.72
23      0.423333  0.015275     3  0.41  0.44
24      0.423333  0.015275     3  0.41  0.44